*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 7px;
}

.content__list-container {
  height: 298px;
  width: 399px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap:34px;
  margin-bottom: 9px;
  padding-left: 3px;
  padding-right: 3px;
  position:relative;
}

.content__details {
 display: flex;
 flex-direction: column;
 gap: 18px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position:relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
  
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: right;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 196px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color:#fff;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 192px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  min-width: 0;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset{
   border: none;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.search-form__label{
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 7px;
  cursor:pointer;
}


.search-form__textfield {
  font-family: inherit;
  font-size: 18px;
  border: none;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color:#fff;
  appearance: none;
  min-inline-size: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7); 
}

/*Факультативный шаг в стилизации поля ввода*/

.search-form__textfield:focus{
  outline: none;
}

 .search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
} 

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content:'';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  opacity: 1;
}

/*Факультативный шаг стилизация чекбокса*/
 .search-form__label:has(input[type="checkbox"]:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
} 

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

.more-button {
  flex-grow: 1;
  padding-top: 6px;
  padding-bottom: 6px;
}

/*Псевдоклассы*/

.button:active {
  background-color: #545050;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}
.content__card-link:hover {
text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__list-item:has(.content__card-link:focus-visible) {
  outline: 1px solid #fff;
}

.button:hover {
  text-decoration: underline;
}